@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@media only screen and (max-width: 864px) {

}

html {
    height: 100vh;
    width: 100vw;
    min-width: 864px;
    max-height: 100%;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto Light", serif;
    overflow-x: auto;
}

p {
    margin: inherit;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #d9d9d9;
}

.header {
    box-sizing: border-box;
    flex: 0 0 72px;
    width: 100%;
    color: #18b4b4;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px;
    display: flex;
    z-index: 10;
}

.header-space {
    flex: 1 0 auto;
}

.header-center {
    box-sizing: border-box;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    flex: 0 1 1440px;
    height: 100%;
}

.header-button {
    display: flex;
    padding-inline: 3pt;
    color: #18b4b4;
    font-size: 36px;
    text-decoration: none;
    align-items: flex-end;
    line-height: 1.4em;
}

.header-button_active {
    color: #d9d9d9;
    background-color: #18b4b4;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.header-button:hover {
    color: #d9d9d9;
    background-color: #ff8622;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.header-button-home {
    display: flex;
    padding-inline: 4pt;
    color: #18b4b4;
    font-size: 72px;
    text-decoration: none;
    align-items: flex-end;
    line-height: 72px;
}

.header-button-home_active {
    color: #d9d9d9;
    background-color: #18b4b4;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.header-button-home:hover {
    color: #d9d9d9;
    background-color: #ff8622;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.body_home {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.body_gorum {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.body_gorum-account {
    display: flex;
    flex-direction: column;
    flex: 0 0 288px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.body_gorum-account-avatar {
}

.body_gorum-account-avatar-img {
    width: 100%;
}

.body_gorum-account-avatar-img:hover {
    filter: brightness(120%);
}

.body_gorum-account-button {
    font-family: "Roboto Light", serif;
    font-size: 24px;
    text-decoration: none;
    line-height: 1.4em;
    padding-inline: 3pt;
    color: #18b4b4;

    text-align: start;
}

.body_gorum-account-button_active {
    color: #d9d9d9;
    background-color: #18b4b4;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.body_gorum-account-button:hover {
    color: #d9d9d9;
    background-color: #ff8622;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.body_gorum-account-content {
    flex: 1 0 auto;
}

.body_gorum-account-notifications {
    display: flex;
}

.body_gorum-account-notifications-count {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    font-family: "Roboto Medium", serif;
    font-size: 24px;
    text-decoration: none;
    line-height: 1.4em;
    padding-inline: 3pt;
    color: #b41818;
}

.body_gorum-account-notifications-button {
    width: 100%;
    font-family: "Roboto Light", serif;
    font-size: 24px;
    text-decoration: none;
    line-height: 1.4em;
    padding-inline: 3pt;
    color: #18b4b4;
}

.body_gorum-account-notifications:hover .body_gorum-account-notifications-count {
    color: #d9d9d9;
    background-color: #b41818;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.body_gorum-account-notifications:hover .body_gorum-account-notifications-button {
    color: #d9d9d9;
    background-color: #ff8622;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.body_gorum-content-text {
    color: #2f2f2f;
    /*text-shadow: 1px 1px rgba(0, 0, 0, 0.9);*/
    display: flex;
    flex: 1 0 auto;
}

.body_gorum-content-underConstruction {
    display: inline-grid;
    flex: 1 0 100%;
    align-items: center;
    justify-items: center;
}

.body_gorum-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

@supports (scrollbar-width: thin) {
    .body_gorum-content {
        scrollbar-width: thin;
    }
}

.body_gorum-content::-webkit-scrollbar {
    width: 8px;
    background: #d9d9d9;
}

.body_gorum-content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
}

.body_gorum-content::-webkit-scrollbar-corner {
    background: #d9d9d9;
}

.body_gorum-menu {
    display: flex;
    flex-direction: column;
    flex: 0 0 288px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.body_gorum-menu-button {
    font-family: "Roboto Light", serif;
    font-size: 24px;
    text-decoration: none;
    line-height: 1.4em;
    padding-inline: 3pt;
    color: #18b4b4;

    text-align: end;
}

.body_gorum-menu-button_active {
    color: #d9d9d9;
    background-color: #18b4b4;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.body_gorum-menu-button:hover {
    color: #d9d9d9;
    background-color: #ff8622;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.name {
    font-size: 36px;
    display: inline;
    font-weight: bold;
}

.version {
    color: #efdc49;
    font-size: 8px;
    font-weight: bold;
    display: inline;
}

.player {
    width: 100%;
    vertical-align: bottom;
}

.footer {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
}

.footer-text {
    font-weight: bold;
    height: 36px;
    font-size: 18px;
    line-height: 36px;
    vertical-align: bottom;
    text-align: center;
    color: #18b4b4;
    box-shadow: 0 -4px;
}

.button-gorum {
    display: inline-grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    font-family: "Roboto Light", serif;
    font-size: 24px;
    text-decoration: none;
    line-height: 1.4em;
    padding-inline: 3pt;
    color: #18b4b4;
}

.button-gorum:hover {
    color: #d9d9d9;
    background-color: #ff8622;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}